#show {
    position: relative;
    padding-left: 46px;
}
#links {
    display: none;
}

#show.on + #links {
    display:block;
}
.book-download-links.arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    color: #000;
    margin-top: -15px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.book-download-links.arrow:hover {
    cursor: pointer;
}

.book-download-links.arrow.down {
    transform: rotate(180deg);
}
.content-slides-block.book-download-links {
    position: relative;
    width: 100%;
    padding: 25px 15px 15px 21px;
    word-wrap: break-word;
    text-align: left;
    border-radius: 6px;
    box-shadow: inset 0 0 5px 1px #ccc;
    display: block;
}