<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TS test task</title>
    <link rel="stylesheet" href="normalize.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.5/angular-mocks.js"></script>

</head>
<body ng-app="myApp">
<!-- you can use "scroll-glue" if you want to scroll to bottom every time the items are loaded -->
<div class="main__wrapper" ng-controller="myCtrl">
    <sections></sections>

    <footer>
        <div ng-click="data.getItems()" class="load__more">Load more...</div>
    </footer>


    <script src="enentHandler.js"></script>
    <script src="scrollGlueDirectives.js"></script>
    <script>
        var myApp = angular.module('myApp', ['ngMockE2E', 'luegg.directives']);
        // define our fake backend
        myApp.run(function ($httpBackend) {

            var items = angular.fromJson([
                {
                    "title": "new zealand timelapse",
                    "paragraph": "Equipé de son appareil Canon 5D Mark II, le réalis ateur Bevan Percival nous offre une nouvelle vidéo en  technique timelapse absolument magnifique",
                    "image": "./images/1.png"
                },
                {
                    "title": "new zealand timelapse",
                    "paragraph": "Equipé de son appareil Canon 5D Mark II, le réalis ateur Bevan Percival nous offre une nouvelle vidéo en  technique timelapse absolument magnifique",
                    "image": "./images/2.png"
                },
                {
                    "title": "new zealand timelapse",
                    "paragraph": "Equipé de son appareil Canon 5D Mark II, le réalis ateur Bevan Percival nous offre une nouvelle vidéo en  technique timelapse absolument magnifique",
                    "image": "./images/3.png"
                }
            ]);

            var template = '<div class="data__block" data-block>' +
                    '<div class="data__item" ng-repeat="item in data.responseItems" ng-if="data.responseItems.length > 0">' +
                    '<figure>' +
                    '<img ng-src="{{item.image}}" alt="some img" class="item__img"/>' +
                    '<figcaption>' +
                    '<h3 class="item__header">{{item.title}}</h3>' +
                    '<p class="item__description">{{item.paragraph}}</p>' +
                    '</figcaption>' +
                    '</figure>' +
                    '</div>' +
                    '</div>';

            $httpBackend.whenGET('/items').respond(function (method, url, data) {
                console.log("Getting items");
                return [200, items, {}];
            });
            $httpBackend.whenGET('/templatesHtml/data-block-template.html').respond(function (method, url, data) {
                return [200, template, {}];
            });
        });
        // define our controller
        myApp.controller('myCtrl', function ($scope, $http) {
            $scope.data = {};
            $scope.data.responseItems = [];
            $scope.data.loaded = false;

            $scope.data.getItems = function (item, event) {
                var responsePromise = $http.get('/items');

                responsePromise.success(function (data, status, headers, config) {
                    $scope.data.responseItems = $scope.data.responseItems.concat(data);
                    $scope.data.loaded = true;
                });
                responsePromise.error(function (data, status, headers, config) {
                    console.error('AJAX failed! ' + status);
                })
            };
            $scope.data.getItems();
        });

        myApp.directive('sections', [function () {
            return {
                restrict: "E",
                templateUrl: "/templatesHtml/data-block-template.html"
            }
        }])
    </script>

</div>
</body>
</html>