body {
  width: 100%;
  min-height: 100vh;
  background: url("images/bkg.png") center no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: Arial, Helvetica, San-serif, serif;

  .data__block {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //align-content: space-between;
    align-items: center;
    padding: 50px 100px 75px;

    .data__item {
      min-width: 190px;
      max-width: 300px;
      min-height: 190px;
      background: #fff;
      padding: 20px;
      margin: 25px 0 0;
      &:nth-child(2) {
        margin-left: 25px;
      }
      &:nth-child(3) {
        margin-left: 25px;
      }

      .item__img {
        width: 100%;
      }
      .item__header {
        text-transform: uppercase;
        font-size: 0.875rem;
        text-align: center;
        margin: 10px 0;
      }
      .item__description {
        font-size: 0.825rem;
        text-align: justify;
        color: #3a3a3a;
      }
    }
  }
  @media (max-width: 1150px) {
    .data__block {
      justify-content: space-around;

      .data__item {
        &:nth-child(3) {
          align-self: stretch;
          max-width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  @media (max-width: 825px) {
    .data__block {

      .data__item {
        &:nth-child(2) {
          margin-left: 25px;
          margin-right: 25px;
        }
        &:nth-child(3) {
          align-self: auto;
          max-width: 300px;
        }
      }
    }
  }

  @media (max-width: 550px) {
    .data__block {

      .data__item {
        &:nth-child(2) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}


