<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/config.css">
    <script src="javascripts/angular.min.js"></script>
    <script>
        var b, i = -1;


        angular.module('app', [])
                .controller('sliderCntl', ['$scope', function ($scope) {

                    //$scope.counter;
                    $scope.formData = {};
                    $scope.formData.slides = [];

                    getContent();

                    function getContent() {
                        var config = null;

                        try {
                            config = JSON.parse(localStorage.getItem('sliderConfig'));
                        } catch (e) {
                            localStorage.clear();
                        }
                        console.log(config);

                        setTimeout(function () {
                            $scope.$apply(function () {
//                        // make sure config has default value
                                if (!config) {
                                    config = {};
                                } else {
                                    //get default settings of the slider
                                    $scope.formData.interval = config.interval;
                                    $scope.formData.timeout = config.timeout;
                                    $scope.formData.slides = config.slides;
                                    console.log($scope.formData.slides);
                                }
                            });
                        }, 1000);

                        function Storage() {
                            this.store = function (slides) {
                                localStorage.setItem('sliderConfig', JSON.stringify(slides));
                            };
                            this.load = function () {
                                var slides = {};
                                try {
                                    slides = JSON.parse(localStorage.getItem('sliderConfig'));
                                } catch (e) {
                                    localStorage.clear();
                                }
                                return slides;
                            };
                        }


                        $scope.sendForm = function (data) {
                            var submit = confirm("Did you set ALL the color themes and slider positions?");
                            if (submit) {
                                //config['data'] = data;
                                localStorage.setItem('sliderConfig', JSON.stringify(data));
                                console.log(data);
                            }
                        };

                        $scope.addOne = function () {
                            i++;
                            var a = {};
                            $scope.formData.slides.unshift(a);
                        };

                        $scope.deleteSlide = function (e) {
                            console.log(e);
                            var submit = confirm("Are you sure you want to delete this slide?");
                            if (submit) {
                                //deleting the slide
                                $scope.formData.slides.splice(+e.target.dataset.index, 1);
                            }
                        };

                    }
                }])
                .directive('slider', function () {
                    return {
                        restrict: 'A',
                        //templateUrl: 'inputs.html',
                        scope: {
                            config: "="
                        },
                        controller: 'sliderCntl',
                        link: function (scope, elem, attr, ctrl) {
                            //console.log(ctrl)
                        }
                    }
                })
    </script>
</head>
<body>

<div class="config-wrapper" ng-app="app">
    <h2>Configure Slider Widget</h2>

    <form class="slider-form" ng-controller="sliderCntl" ng-submit="sendForm(formData)" name="configForm">

        <!--submit form-->
        <button class="submit-button" type="submit">Save changes</button>

        <!-- set interval & timeout-->
        <label><p>Set a slider interval, in seconds. It can be an integer or a broken number separated by a dot</p>

            <p><input type="text" ng-model="formData.interval" value="{{formData.interval}}"
                      placeholder="{{formData.interval}}"
                      maxlength="4">
            </p>
        </label>

        <label><p>Set a slider timeout after the user hovers over image, in seconds.</p>

            <p><input type="text" ng-model="formData.timeout" value="{{formData.timeout}}"
                      placeholder="{{formData.timeout}}"
                      maxlength="4">
            </p>
        </label>
        <!--add new button-->
        <input class="add_slide" type="button" ng-click="addOne()" value="+">

        <div class="repeat-block" ng-repeat="config in formData.slides track by $index" config="config">

            <!--set color theme of each slide-->
            <div class="theme-colors">
                <label id="blue"><input name="color-{{$index}}" type="radio" ng-model="config.color" value="blue">
                    Set blue theme</label>

                <label id="green"><input name="color-{{$index}}" type="radio" ng-model="config.color" value="green">
                    Set green theme</label>

                <label id="orange"><input name="color-{{$index}}" type="radio" ng-model="config.color" value="orange">
                    Set orange theme</label>

                <label id="purple"><input name="color-{{$index}}" type="radio" ng-model="config.color" value="purple">
                    Set purple theme</label>

                <label id="red"><input name="color-{{$index}}" type="radio" ng-model="config.color" value="red">
                    Set red theme</label>

                <label id="none"><input name="color-{{$index}}" type="radio" ng-model="config.color" value="none">
                    Set images only theme</label>
            </div>


            <!-- set position of each slide-->
            <div class="slider-position">
                <label><input id="left-{{$index}}" name="position" type="radio" ng-model="config.position" value="left">
                    Set slider position LEFT <br/><<<<<<<<<<<</label>

                <label><input name="position-{{$index}}" type="radio" ng-model="config.position" value="right">
                    Set slider position RIGHT <br/>>>>>>>>>>>></label>
            </div>


            <!--putting contents and links of each slide-->

            <label><p>Title for this slide, max 30 symbols</p>

                <p><input type="text" ng-model="config.title" value="{{config.title}}" placeholder="{{config.title}}"
                          maxlength="30">
                </p>
            </label>

            <label><p>Description for this title, max 120 symbols</p>

                <p><input type="text" ng-model="config.subtitle" value="{{config.subtitle}}"
                          placeholder="{{config.subtitle}}" maxlength="120"></p>
            </label>

            <label><p>Action, max 20 symbols. <br/>
                "Learn more..." as default
            </p>

                <p><input class="action" type="text" ng-model="config.action" value="{{config.action}}"
                          placeholder="{{config.action}}" maxlength="20"></p>
            </label>

            <label><p>Set destination URL</p>

                <p><input type="text" ng-model="config.titleUrl" value="{{config.titleUrl}}"
                          placeholder="{{config.titleUrl}}"></p>
            </label>

            <label><p>Set background image URL</p>

                <p><input type="text" ng-model="config.imageUrl" value="{{config.imageUrl}}"
                          placeholder="{{config.imageUrl}}"></p>
            </label>

            <!-- delete this slide button-->
            <input class="delete-button" type="button" ng-click="deleteSlide($event)" data-index="{{$index}}"
                   value="Delete this slide">

        </div>


    </form>
</div>

</body>
</html>