<label><p>Set image URL</p>
    <p><input type="text" ng-model="config.imageUrl" value="default.imageUrl"></p>
</label>

<label><p>Type some title</p>
    <p><input type="text" ng-model="config.title" value="default.title"></p>
</label>

<label><p>Type some subtitle</p>
    <p><input type="text" ng-model="config.subtitle" value="default.subtitle"></p>
</label>

<label><p>Set destination URL</p>
    <p><input type="text" ng-model="config.titleUrl" value="default.titleUrl"></p>
</label>

<button class="delete-button" ng-click="deleteSlide($event)" data-count="{{ counter }}">Delete this slide</button>