@media screen and (max-width: 950px) and (min-width: 320px) {

    body {
        min-width: 320px;
        max-width: 949px;
    }

    .info {
        width: 90%;
        padding-top: 20px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
    }



    .logo-goit,
    .logo-club,
    .info__when,
    .info__where,
    .info__registration,
    .info__schedule,
    .info__faq-col {
        display: block;
        margin: 0 auto;
    }



    .info__registration,
    .info__schedule {
        width: 74%;
        text-align: justify;
    }

    .info__when,
    .info__where {
        width: 50%;
        font-size: 25px;
    }

    .info__registration-link {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 60px;
        padding-top: 7px;
        text-align: center;
    }

    .info_judges-header {
        text-align: center;
    }

    .info__judges-person {
        display: block;
        margin: 50px auto;
    }

    .info__faq-col {
        width: 100%;
    }

    .info__footer-header {
        padding-bottom: 0;
    }

    .info__footer-name,
    .info__footer-phone,
    .info__footer-link {
        display: block;
        width: 60%;
        text-align: center;
        margin: 15px auto;
    }

    .info__footer-tan9I-shcherbakova {
        margin: 0 auto;
    }
}