@import "management_team.css";

.management_team-block {
    position: relative;
    width: 100%;
    min-height: 100px;
    height: auto;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
}

.management_team-block img {
    width: 20%;
    float: left;
    margin: 30px 30px 10px 30px;
}

.member_name {
    font-size: 1.5em;
    margin: 30px 0 10px;
}

.member_position {
    font-size: 1.3em;
}

.member_details {
    position: relative;
    top: 0;
    height: 100%;
    padding: 20px 20px 0 30px;
    visibility: visible;
    opacity: 1;
    background: transparent;
    overflow: visible;
    box-shadow: none;
}

.member_bios_container {
    position: relative;
    height: auto;
    overflow: visible;
}

.member_bios {
    font-size: 0.875em;
    line-height: 1.3em;
}

.management_team-block:hover .member_details {
    height: auto;
}

.member_bios_container:before,
.member_bios_full {
    display: none;
}

@media (max-width: 1024px) {

    .member_name {
        font-size: 1.75em;
    }

    .member_position {
        font-size: 1.5em;
    }
}


