* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    position: relative;
    height: 1000px;
    margin: 0 auto;
    background: #665464 url("images/about/about_bckgrnd.jpg") center center no-repeat;
    background-size: cover;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    background: -webkit-linear-gradient(top, rgba(102,84,100,1),rgba(112,94,110,0.8));
    background: -moz-linear-gradient(top, rgba(102,84,100,1),rgba(150,104,120,0.8));
}
.logo {
    position: absolute;
    top: 28px;
    left: 50px;
}
nav {
    position: absolute;
    top: 38px;
    right: 50px;
}
nav>a {
    text-decoration: none;
    cursor: pointer;
    font:13px Verdana,Arial;
    color:#FFFAFA;
    padding: 60px 30px 17px 30px;
}
nav>a:hover {
    background-color: #91778e;
    border-radius: 7px;
}
.active {
    background-color: #91778e;
    border-radius: 7px;
}
.about_content {
    text-align: center;
    position: relative;
    margin-top: 170px;
}
.about_content h1 {
    font-family: sans-serif;
    font-size: 45px;
    color: #ffffff;
}
.about_content h2 {
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 50px;
}
.about_content p {
    font-family: sans-serif;
    font-size: 13px;
    color: #e6d1e3;
    line-height: 1.5;
    margin-top: 25px;
}
/* styling block class="about_team" */

.about_team {
    position: relative;
    margin-top: 130px;
    text-align: center;
}
.about_team.member {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 20px 10px;
    background: rgba(89, 73, 87, 0.7);
    border-radius: 7px;
    background-image: url(images/about/User-1.png);
    background-repeat: no-repeat;
    background-position: center 35px;
}
.about_team.member:hover {
    background: rgba(82, 67, 80, 0.7);
    background-image: url("images/about/User_active.png");
    background-repeat: no-repeat;
    background-position: center 35px;
}
.about_team.member_data>a {
    text-decoration: none;
    display: block;
    position: relative;
    height: 80px;
    top: 100px;
}
.about_team.member_data>a>h3 {
    font-family: sans-serif;
    font-size: 20px;
    color: #c7b6c5;
    top: 15px;
}
.about_team.member:hover a>h3 {
    color: #FFFFFF;
}
.about_team.member:hover a>p {
    color: #FF8973;
}
.about_team.member p {
    font-family: sans-serif;
    font-size: 14px;
    color: #a1ca6c;
    margin-top: 20px;
}
.social {
    margin-top: 100px;
}
.social_icon {
    display: inline-block;
    height: auto;
    margin-top: 15px;
}



