* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    position: relative;
    height: 1000px;
    margin: 0 auto;
    background: #665464 url("images/about/about_bckgrnd.jpg") center center no-repeat fixed;
    background-size: cover;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    background: -webkit-linear-gradient(top, rgba(102,84,100,1),rgba(112,94,110,0.8));
    background: -moz-linear-gradient(top, rgba(102,84,100,1),rgba(150,104,120,0.8));
}
.logo {
    position: absolute;
    top: 28px;
    left: 50px;
}
nav {
    position: absolute;
    top: 38px;
    right: 50px;
}
nav>a {
    text-decoration: none;
    cursor: pointer;
    font:13px Verdana,Arial;
    color:#FFFAFA;
    padding: 60px 30px 17px 30px;
}
nav>a:hover {
    background-color: #91778e;
    border-radius: 7px;
}
.active {
    background-color: #91778e;
    border-radius: 7px;
}
.about_content {
    text-align: center;
    position: relative;
    margin-top: 170px;
}
.about_content h1 {
    font-family: sans-serif;
    font-size: 45px;
    color: #ffffff;
}
.about_content h2 {
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 50px;
}
.about_content p {
    font-family: sans-serif;
    font-size: 13px;
    color: #e6d1e3;
    line-height: 1.5;
    margin-top: 25px;
}
.meet-the-team {
    display: block;
    margin: 60px auto;
}
/* styling block class="about_team" */

.about_team {
    position: relative;
    margin-top: 60px;
    text-align: center;
}
.about_team_member {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 20px 10px;
    background: rgba(89, 73, 87, 0.7);
    border-radius: 7px;
    text-align: center;
}
.about_team_member:hover {
    background: rgba(82, 67, 80, 0.7);
}
.about_team_member_data {
    display: block;
    margin-top: 60px;
    padding-top: 164px;
    background: url('images/about/User-1.png') top center no-repeat;
    -webkit-background-size: 164px 164px;
    background-size: 164px 164px;
    text-decoration: none;
    font-family: sans-serif;
}
.about_team.member_data>a {
    text-decoration: none;
    display: block;
    position: relative;
    height: 80px;
    top: 30px;
}
.about_team_member_data h3{
    font-size: 20px;
    color: #c7b6c5;
    text-transform: uppercase;
    margin-top: 40px;
}
.about_team_member_data p{
    color: #a1ca6c;
    font-size: 14px;
    margin-top: 20px;
}
.about_team_member:hover>.about_team_member_data {
    cursor: pointer;
    background-image: url('images/about/User_active.png');
}
.about_team_member:hover>.about_team_member_data h3{
    color: #fff;
}
.about_team_member:hover>.about_team_member_data p{
    color: #ff8973;
}
.social>a {
    display: inline-block;
    height: 31px;
    margin-top: 15px;
    text-decoration: none;
}
.social_icon_fb {
    height: 31px;
    width: 31px;
    display: block;
    background: url('images/about/facebook.png') left no-repeat;
    -webkit-background-size: 31px 31px;
    background-size: 31px 31px;
    text-decoration: none;
}
.social_icon_fb:hover {
    background-image: url('images/about/facebook_a.png');
}
.social_icon_tw {
    height: 31px;
    width: 31px;
    display: block;
    background: url('images/about/twit.png') left no-repeat;
    -webkit-background-size: 31px 31px;
    background-size: 31px 31px;
    text-decoration: none;
}
.social_icon_tw:hover {
    background-image: url('images/about/twit_a.png');
}
.social_icon_g {
    height: 31px;
    width: 31px;
    display: block;
    background: url('images/about/g+.png') left no-repeat;
    -webkit-background-size: 31px 31px;
    background-size: 31px 31px;
    text-decoration: none;
}
.social_icon_g:hover {
    background-image: url('images/about/g+_a.png');
}
.social_icon_li {
    height: 31px;
    width: 31px;
    display: block;
    background: url('images/about/lin.png') left no-repeat;
    -webkit-background-size: 31px 31px;
    background-size: 31px 31px;
    text-decoration: none;
}
.social_icon_li:hover {
    background-image: url('images/about/lin_a.png');
}

