* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    position: relative;
    height: 1000px;
    margin: 0 auto;
    background: #75b4aa url("images/contacts/Layer-24.png") center center no-repeat fixed;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    background: -webkit-linear-gradient(top, rgb(117, 180, 170), rgba(133, 198, 188, 0.8));
    background: -moz-linear-gradient(top, rgb(117, 180, 170), rgba(133, 198, 188, 0.8));
}

.logo {
    position: absolute;
    top: 28px;
    left: 50px;
}

nav {
    position: absolute;
    top: 38px;
    right: 50px;
}

nav > a {
    text-decoration: none;
    cursor: pointer;
    font: 13px Verdana, Arial;
    color: #FFFAFA;
    padding: 60px 30px 17px 30px;
}

nav > a:hover {
    background-color: #82c8bd;
    border-radius: 7px;
}

.active {
    background-color: #82c8bd;
    border-radius: 7px;
}

.contacts-content {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    margin-top: 170px;
}

.contacts-content h1 {
    font-size: 45px;
    color: #ffffff;
}

.contacts-content p {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    margin-top: 25px;
}

.contacts.contacts_name_acrostia {
    position: relative;
    top: 125px;
    margin: 0 auto;
    text-align: center;
}

.contacts__wrapper {
    display: inline-block;
    position: relative;
    max-width: 50%;
    max-height: 300px;
    margin: 0 10px 0 auto;
    vertical-align: top;
}

.contacts__text {
    display: inline-block;
    margin: 0 40px;
    vertical-align: top;
    text-align: left;
}

.contacts__map {
    display: inline-block;
    vertical-align: bottom;
    border-radius: 5px;
    margin-right: 25px;
}

.contacts__header {
    font-size: 30px;
    color: #FFF;
}

.contacts__company-name {
    margin-top: 24px;
    font-size: 20px;
    color: #b3d7d1;
}

.contacts__street {
    font-size: 16px;
    margin-top: 15px;
    color: #FFFFFF;
}

.contacts__country {
    font-size: 16px;
    color: #FFFFFF;
}

.contacts__phone {
    margin-top: 65px;

}

.contacts__phone-header, .contacts__fax-header, .contacts__email-header, .contacts__skype-header {
    display: inline-block;
    font-size: 16px;
    color: #b3d7d1;
}

.contacts__phone-number, .contacts__email-address, .contacts__skype-login {
    margin-left: 20px;
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
}

.contacts__fax-number {
    margin-left: 35px;
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
}

#email {
    color: #FFFFFF;
}

.feedback {
    display: inline-block;
    position: relative;
    max-width: 50%;
    max-height: 300px;
    margin: 0 auto 0 10px;
    vertical-align: bottom;
}

input[type='Text'] {
    display: inline-block;
    width: 260px;
    height: 40px;
    background: #68a097;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #75b4aa;
    padding-left: 20px;
    margin-right: 20px;
    margin-top: 22px;
    outline: none;
}

textarea[name='question'] {
    display: block;
    width: 544px;
    height: 160px;
    background: #68a097;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    color: #75b4aa;
    padding-left: 20px;
    padding-top: 12px;
    margin-right: 20px;
    margin-top: 20px;
    outline: none;
}

.feedback__header {
    font-size: 30px;
    color: #FFF;
    text-align: left;
}

input[type='submit'] {
    display: inline-block;
    width: 260px;
    margin-top: 20px;
    height: 47px;
    border: none;
    background: #df5c64;
    font-size: 26px;
    color: #FFFFFF;
    text-align: center;
    box-shadow: 0 3px 3px #c8535a;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    z-index: 10;
    background: #68a097;
}

.social {
    position: relative;
    margin: 45px auto;
    text-align: center;
}

.social__icon-fb {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #82c8bd url("images/contacts/facebook.png") center center no-repeat;
    border-radius: 30px;
    transition: background 0.3s;
}

.social__icon-fb:hover {
    background: #3b5998 url("images/contacts/facebook.png") center center no-repeat;;
}

.social__icon-fb {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 19px;
    background: #82c8bd url("images/contacts/facebook.png") center center no-repeat;
    border-radius: 30px;
    transition: background 0.3s;
}

.social__icon-fb:hover {
    background: #3b5998 url("images/contacts/facebook.png") center center no-repeat;;
}

.social__icon-tw {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 19px;
    background: #82c8bd url("images/contacts/twit.png") center center no-repeat;
    border-radius: 30px;
    transition: background 0.3s;
}

.social__icon-tw:hover {
    background: #00aced url("images/contacts/twit.png") center center no-repeat;;
}

.social__icon-g {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 19px;
    background: #82c8bd url("images/contacts/g+.png") center center no-repeat;
    border-radius: 30px;
    transition: background 0.3s;
}

.social__icon-g:hover {
    background: #dd4b39 url("images/contacts/g+.png") center center no-repeat;;
}

.social__icon-in {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 19px;
    background: #82c8bd url("images/contacts/lin.png") center center no-repeat;
    border-radius: 30px;
    transition: background 0.3s;
}

.social__icon-in:hover {
    background: #007bb6 url("images/contacts/lin.png") center center no-repeat;;
}

