* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    position: relative;
    height: 1000px;
    margin: 0 auto;
    background: #B24A50 url("images/services/acrostia_onepage_template_by_outlinez.png") center center no-repeat fixed;
    background-size: cover;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    background: -webkit-linear-gradient(top, rgba(178,74,80,1),rgba(178,74,80,0.8));
    background: -moz-linear-gradient(top, rgba(178,74,80,1),rgba(178,74,80,0.8));
}
.logo {
    position: absolute;
    top: 28px;
    left: 50px;
}
nav {
    position: absolute;
    top: 38px;
    right: 50px;
}
nav>a {
    text-decoration: none;
    cursor: pointer;
    font:13px Verdana,Arial;
    color:#FFFAFA;
    padding: 60px 30px 17px 30px;
}
nav>a:hover {
    background-color: #df5c64;
    border-radius: 7px;
}
.active {
    background-color: #df5c64;
    border-radius: 7px;
}
.services {
    text-align: center;
    position: relative;
    margin-top: 170px;
}
.services h1 {
    font-family: sans-serif;
    font-size: 45px;
    color: #ffffff;
}
.services h2 {
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 50px;
}
.services h2>a {
    text-decoration: none;
    cursor: pointer;
    color: #fbc4c7;
}
.services p {
    font-family: sans-serif;
    font-size: 13px;
    color: #fbc4c7;
    line-height: 1.5;
    margin-top: 25px;
}
.services-items {
    position: relative;
    margin-top: 130px;
    text-align: center;
}
.services-items div {
    display: inline-block;
}
.services-items a {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 20px 10px;
    background: #c45158;
    border-radius: 7px;
    text-decoration: none;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.services-items a:hover {
    cursor: pointer;
    background: #ff565d;
}
div img {
    margin-top: 45px;
}
h3 {
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
}
div p {
    font-family: sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin-top: 50px;
    line-height: 1.5;
}