* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    position: relative;
    height: 1000px;
    margin: 0 auto;
    background: #81a256 url("images/work/Layer-14.png") center center no-repeat;
    background-size: cover;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    background: -webkit-linear-gradient(top, rgba(129,162,86,1),rgba(137,170,94,0.8));
    background: -moz-linear-gradient(top, rgba(129,162,86,1),rgba(137,170,94,0.8));
}
.logo {
    position: absolute;
    top: 28px;
    left: 50px;
}
nav {
    position: absolute;
    top: 38px;
    right: 50px;
}
nav>a {
    text-decoration: none;
    cursor: pointer;
    font:13px Verdana,Arial;
    color:#FFFAFA;
    padding: 60px 30px 17px 30px;
}
nav>a:hover {
    background-color: #a1ca6c;
    border-radius: 7px;
}
nav>.active {
    background-color: #a1ca6c;
    border-radius: 7px;
}
.work_content {
    text-align: center;
    position: relative;
    margin-top: 170px;
}
.work_content h1 {
    font-family: sans-serif;
    font-size: 45px;
    color: #ffffff;
}
.work_content h2 {
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 50px;
}
.work_content p {
    font-family: sans-serif;
    font-size: 13px;
    color: #FFF;
    line-height: 1.5;
    margin-top: 25px;
}
.portfolio_nav {
    height: 100px;
    border-top: 1px solid #94b963;
    border-bottom: 1px solid #94b963;
    margin: 60px auto;
    max-width: 1100px;
}
.portfolio_nav h2 {
    font-family: Arial;
    font-size: 20px;
    color: #fff;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
    vertical-align: middle;
}
.portfolio_nav>a {
    float: right;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    padding: 12px;
    margin: 27px 12px;
}
.portfolio_nav>a:hover, .portfolio_nav>.active {
    background: #f5c149;
    border-radius: 5px;
}
.portfolio_content {
    position: relative;
    max-width: 1100px;
   text-align: center;
    margin: 0 auto;
}
.portfolio_content>a {
    position: relative;
    background: rgba(255,255,255,0.9);
    display: inline-block;
    width: 250px;
    height: 250px;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    color: #727272;
    margin: 10px;
}
.portfolio_content>a>figure>img {
    border-radius: 3px 3px 0 0;
}
.portfolio_content>a:before {
    content: ' ';
    opacity: 0;
    position: absolute;
    left: 0;
    width: 250px;
    height: 200px;
    background: url(images/work/Shape-1.png);
    border-radius: 3px 3px 0 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.portfolio_content>a:hover:before {
    opacity: 0.99;
}
.portfolio_content figcaption {
    font-family: Arial;
    margin-top: 10px;
}