.mainframe {
    display: block;
    position: relative;
    width: 792px;
    height: 602px;
    background: #000000 url("bg.png") center center no-repeat;
    background-size: contain;
    margin: 0 auto;
    font-family: 'Arvo', serif;
    overflow: hidden;
}
.timer {
    display: block;
    position: absolute;
    color: #FFFFFF;
    left: 400px;
    font-size: 20px;
}
.fire {
    display: block;
    width: 140px;
    height: 50px;
    color: #000000;
    font-family: 'Arvo', serif;
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: 320px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 5px;
    visibility: hidden;
}

.active {
    visibility: visible;
}

.score {
    display: block;
    position: absolute;
    color: #FFFFFF;
    left: 40px;
    bottom: 0;
    font-size: 20px;
}
.score span {
    color: #00FF00;
    font-weight: 700;
    font-size: 30px;
}

.gunman {
    display: block;
    width: 97px;
    height: 204px;
    position: absolute;
    top: 200px;
    right: -100px;
    background: url("gunman.png");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: 1458%;
}