* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.ttu {
    text-transform: uppercase;
}

body {
    position: relative;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

header {
    position: relative;
    width: 100%;
    padding: 16px 160px 5px;
    background: #fbc840;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header:after {
    display: inline-block;
    content: '';
    height: 100%;
    width: 1px;
    vertical-align: middle;
}

.logo,
.navigation,
.search-container {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    text-decoration: none;
}

.logo {
    display: inline-block;
    background: url("images/logo-main.png") center no-repeat;
    width: 202px;
    height: 90px;
}

#toggle {
    display: none;
}

.navigation {
    width: 71%;
    text-align: right;

    font-size: 1em;
    font-weight: 600;
    margin-right: 40px;
}

.navigation > a {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    color: #373737;
    text-decoration: none;
    margin: 0 8px;
}

.goto_active_yes:after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: url("images/line-nav.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -41%;
}

.loupe {
    display: block;
    width: 18px;
    height: 18px;
    background: url("images/loupe.png") center no-repeat;
    background-size: contain;
}

#search-box,
#search-submit {
    display: none;
}

/* header-block */
.header-block {
    position: relative;
    margin: -5px auto 0;
    padding: 5px 0;
}

.header-block__image {
    display: block;
    width: 100%;
}

.header-block__description {
    position: absolute;
    top: 10px;
    right: 170px;
    width: 36%;
    padding: 30px 80px 80px 30px;
    background: transparent;
    background-image: url("images/onze-visie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.descriprion-header {
    position: relative;
    font-size: 38px;
    font-weight: 300;
    padding-left: 5px;
}

.descriprion-header:after {
    display: block;
    content: '';
    position: absolute;
    left: -5px;
    bottom: -10px;
    width: 117%;
    height: 5px;
    background: url("images/descr-header-line.png") center no-repeat;
    background-size: contain;
}

.description-content {
    font-size: 1.125em;
    font-weight: 300;
    margin-top: 30px;
    padding-left: 5px;
}

.textblok_titel-over {
    padding: 80px 25%;
}

.titel-over__header {
    font-size: 42px;
    font-weight: 300;
    line-height: 40px;
}

.titel-over__content {
    margin-top: 20px;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.4em;
}

.textblock_verpraaksaam {
    position: relative;
    text-align: center;
    padding: 80px 170px 140px;
    background: transparent;
    background-image: url("images/verpraaksaam.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.verpraaksaam__header {
    position: relative;
    font-size: 42px;
    font-weight: 300;

    margin-bottom: 85px;
}

.verpraaksaam__header:before,
.verpraaksaam__header:after {
    display: block;
    content: '';
    width: 194px;
    height: 100px;
    background: url("images/stamp.png") center no-repeat;
    background-size: cover;
}

.verpraaksaam__header:before {
    position: absolute;
    top: -30px;
    left: 30px;
}

.verpraaksaam__header:after {
    position: absolute;
    top: -30px;
    right: 30px;
    transform: rotateY(180deg);
}

.verpraaksaam__description,
.verpraaksaam__communication {
    text-align: justify;
}

.verpraaksaam__description:after,
.verpraaksaam__communication:after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 1px;
    text-align: center;
}

.verpraaksaam__description-block {
    display: inline-block;
    width: 26%;
    text-align: center;
}

.verpraaksaam__description-header,
.verpraaksaam__communication-header {
    font-family: 'Neucha', cursive;
    font-size: 34px;
    text-align: left;
    margin-bottom: 15px;
}

.verpraaksaam__description-content,
.verpraaksaam__communication-content {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: left;
    margin-bottom: 5px;
}

.verpraaksaam__description-link {
    font-size: 1em;
    font-weight: 500;
    color: #373737;
    text-align: center;
    text-decoration: none;
}

.verpraaksaam__description-link:hover {
    color: #489C5A;
}

.verpraaksaam__communication {
    margin-top: 40px;
}

.verpraaksaam__communication-block {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    min-width: 450px;
    width: 36%;
    min-height: 400px;
    padding: 35px 25px 15px 20px;
    background: transparent;
    background-image: url("images/verpraaksaam__communication-block.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.our-team {
    text-align: center;
    padding: 70px 170px 100px;
}

.our-team__header {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 30px;
}

.our-team__member {
    position: relative;
    display: inline-block;
    width: 310px;
    height: 305px;
    padding: 13px;
    background: transparent;
    background-image: url("images/team-member-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.our-team__member.second {
    background-image: url("images/team-member-2.png");
}

.our-team__member.third {
    background-image: url("images/team-member-3.png");
}

.our-team__member:after {
    display: inline-block;
    content: '';
    height: 100%;
    width: 0;
    vertical-align: bottom;
}

.member-text-block {
    position: relative;
    display: inline-block;
    width: 98%;
    vertical-align: bottom;
    text-align: left;
    padding: 15px 45px 15px 10px;
    background: transparent;
    background-image: url("images/member-text-block.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.member__name {
    font-size: 1.3125em;
    font-weight: 300;
}

.member__position {
    font-size: 1em;
    font-weight: 300;
}

.member__fb-link {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -18px;
    border-radius: 48%;
    background-color: transparent;
    background-image: url("images/fb-icon.png");
    background-position: center;
    background-repeat: no-repeat;
}

.member__fb-link:hover {
    cursor: pointer;
    background-color: rgba(74, 138, 216, 0.5);
    background-image: url("images/fb-icon.png");
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    position: relative;
    text-align: center;
    font-size: 1.125em;
    font-weight: 300;
    padding: 50px 170px;
}

footer:before {
    display: block;
    width: 100%;
    height: 11px;
    content: '';
    background: url("images/footer-line.png") center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.footer-logo {
    margin: 0 auto 25px;
    width: 150px;
    height: 70px;
    background: url("images/logo-main.png") center no-repeat;
    background-size: contain;
}

.footer-address span {
    margin: 0 4px;
}

.footer-mailto {
    text-decoration: none;
    color: #373737;
}

.footer-mailto:hover {
    color: #489C5A;
}

.footer-mailto,
.footer-phone {
    display: inline-block;
    margin: 10px 5px;
}

.social-links-block {
    text-align: center;
}

.social-link {
    display: inline-block;
    width: 56px;
    height: 56px;
    margin: 15px 5px;
}

.social-link.fb {
    background-color: transparent;
    background-image: url("images/large-fb-icons.png");
    background-position: 0;
    background-repeat: no-repeat;
}

.social-link.tw {
    background-color: transparent;
    background-image: url("images/large-fb-icons.png");
    background-position: -71px;
    background-repeat: no-repeat;
}

.language-switcher {
    display: block;
    margin: 15px auto;
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    background: transparent;
    background-image: url("images/lang-switch.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.language-switcher span {
    margin: 0 4px;
}

.language-switcher span.active {
    color: #ffffff;
    background: #e95d12;
    padding: 4px 7px;
}

@media (max-width: 1279px) and (min-width: 1024px) {
    header {
        padding: 16px 3% 5px;
    }

    .navigation {
        text-align: center;
    }

    .header-block__description {
        right: 30px;
        width: 50%;
    }

    .textblok_titel-over {
        padding: 80px 170px;
    }

    .verpraaksaam__header:before {
        left: -30px;
    }

    .verpraaksaam__header:after {
        right: -30px;
    }

    .verpraaksaam__communication-block {
        width: 100%;
        min-height: 250px;
        margin-top: 20px;
    }
}

@media (max-width: 1023px) and (min-width: 720px) {
    #toggle {
        display: block;
        vertical-align: middle;
        text-align: right;
        width: 45px;
        height: 44px;
        padding-top: 19px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border: 1px solid #373737;
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #toggle span:after,
    #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after {
        top: 9px;
    }

    #toggle span {
        position: relative;
        display: block;
    }

    #toggle span,
    #toggle span:after,
    #toggle span:before {
        width: 100%;
        height: 5px;
        background: #373737;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    /* menu appearance*/
    #menu {
        display: none;
        width: 95%;
        padding-bottom: 0;
        margin: 33px auto 20px;
        opacity: 0;
        transition: opacity .4s;
    }

    /* on activation */
    #toggle.on span {
        background-color: transparent;
    }

    #toggle.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    #toggle.on + #menu {
        opacity: 1;
        display: inline-block;
        width: 60%;
        text-align: center;
        margin: 0;
        background: #fbc840;
        z-index: 3;
    }

    header {
        min-height: 170px;
        padding: 16px 3% 5px;
    }

    .logo {
        vertical-align: top;
        width: 150px;
        height: 80px;
        background-size: contain;
    }

    .navigation,
    .search-container {
        line-height: 50px;
    }

    .navigation {
        text-align: center;
    }

    .search-container {
        position: absolute;
        top: 53px;
        right: 120px;
    }

    .header-block__description {
        right: 5%;
        width: 90%;
        padding: 15px 20px;
    }

    .descriprion-header:after {
        width: 100%;
        background-size: cover;
    }

    .textblok_titel-over {
        padding: 60px 5%;
    }

    .verpraaksaam__header:before,
    .verpraaksaam__header:after {
        display: none;
    }

    .textblock_verpraaksaam {
        padding: 40px 5% 140px;
    }

    .verpraaksaam__header {
        margin-bottom: 40px;
    }

    .verpraaksaam__description-block {
        display: block;
        width: 100%;
    }

    .verpraaksaam__communication-block {
        min-width: 250px;
        width: 100%;
        min-height: 250px;
        margin-top: 20px;
    }

    .our-team {
        padding: 70px 5% 100px;
    }

    footer {
        padding: 50px 5%;
    }

}

@media (max-width: 719px) {
    #toggle {
        display: block;
        vertical-align: middle;
        text-align: right;
        width: 45px;
        height: 44px;
        padding-top: 19px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border: 1px solid #373737;
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #toggle span:after,
    #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after {
        top: 9px;
    }

    #toggle span {
        position: relative;
        display: block;
    }

    #toggle span,
    #toggle span:after,
    #toggle span:before {
        width: 100%;
        height: 5px;
        background: #373737;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    /* menu appearance*/
    #menu {
        display: none;
        width: 95%;
        padding-bottom: 0;
        margin: 33px auto 20px;
        opacity: 0;
        transition: opacity .4s;
    }

    /* on activation */
    #toggle.on span {
        background-color: transparent;
    }

    #toggle.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    #toggle.on + #menu {
        opacity: 1;
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        background: #fbc840;
        z-index: 3;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 120px;
        padding: 16px 3% 5px;
        z-index: 2;
    }

    .logo {
        vertical-align: top;
        width: 150px;
        height: 80px;
        background-size: contain;
    }

    .navigation,
    .search-container {
        line-height: 50px;
    }

    .navigation {
        text-align: center;
    }

    .navigation > a {
        font-size: 0.875em;
    }

    .search-container {
        position: absolute;
        top: 53px;
        right: 120px;
    }

    .header-block {
        margin-top: 115px;
        padding: 20px 4%;
        background: url("images/header-block-image.png") center no-repeat;
        background-size: cover;
    }

    .header-block__image {
        display: none;
    }

    .header-block__description {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        padding: 20px 10px;
    }

    .descriprion-header:after {
        width: 100%;
        background-size: cover;
    }

    .textblok_titel-over {
        padding: 60px 5%;
    }

    .verpraaksaam__header:before,
    .verpraaksaam__header:after {
        display: none;
    }

    .textblock_verpraaksaam {
        padding: 40px 5% 140px;
    }

    .verpraaksaam__header {
        margin-bottom: 40px;
    }

    .verpraaksaam__description-block {
        display: block;
        width: 100%;
        margin-top: 30px;
    }

    .verpraaksaam__communication-block {
        min-width: 250px;
        width: 100%;
        min-height: 250px;
        margin-top: 20px;
    }

    .our-team {
        padding: 70px 5% 100px;
    }

    footer {
        padding: 50px 5%;
    }
}


