.config-wrapper {
    display: block;
    width: 45%;
    background: #41B8F3;
    color: #fff;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    padding: 5px 0 0;
    text-align: center;
}

.config-wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
}

.config-wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 25px auto;
    font-size: 1.5rem;
}

.config-wrapper p {
    font-size: 1rem;
    text-align: left;
    margin: 5px;
}

button {
    display: block;
    width: 36%;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 16px;
    text-align: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    background-clip: padding-box;
    margin: 10px auto;
    text-decoration: none;
    outline: none;
}

.config-wrapper .add_slide {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #068BF5;
    box-shadow: 0 3px 4px 0 rgba(62, 62, 66, 0.58);
    text-transform: uppercase;
    color: #fff;
    padding: 7px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 48px;
    line-height: 46px;
    font-weight: 400;
    background-clip: padding-box;
    margin: 10px auto;
    text-decoration: none;
    outline: none;
}

.config-wrapper label {
    position: relative;
    display: inline-block;
    width: 42.5%;
    min-height: 125px;
    margin: 35px 10px 20px;
    padding: .5rem .5rem 2.5rem;
    box-sizing: border-box;
    font-size: 1em;
    text-align: left;
    cursor: pointer;
    background: #1972D0;
    vertical-align: top;
    box-shadow: 0 7px 26px 2px rgba(62, 62, 66, 0.58);
}

.repeat-block {
    padding-top: 10px;
}

.repeat-block h4  {
    font-size: 1.25rem;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.repeat-block label {
    width: 88%;
    min-height: 35px;
    padding: 10px;
    margin: 6px auto;
    box-shadow: none;
    font-weight: 400;
    color: #000000;
}

.delete-button {
    background: #fff linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 0%, rgba(255, 27, 0, 0.36) 100%) !important;
}

.submit-button {
    width: 21%;
    margin: 0 auto;
    background: #068BF5;
    box-shadow: 0 3px 4px 0 rgba(62, 62, 66, 0.58);
}

.config-wrapper input[type = 'text'] {
    position: absolute;
    bottom: 12px;
    border: none;
    border-radius: 0;
    padding: 4px 4px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    width: 15%;
    min-width: 55px;
    outline: none;
    font-size: .875em;
    font-family: Roboto, sans-serif;
    color: #4C4B4B;
    box-sizing: border-box;
}

.config-wrapper input:focus {
    box-shadow: 0 1px 4px 0 rgba(62, 62, 66, 0.58);
}

.config-wrapper input[type = 'text']:after {
    content: 's';
}

.theme-colors,
.slider-position {
    display: flex;
    width: 90%;
    margin: 0 auto 20px;
    text-align: center;
    box-shadow: 0 3px 4px 0 rgba(62, 62, 66, 0.58);
}

.theme-colors label,
.slider-position label {
    justify-content: space-between;
    min-height: 35px;
    padding: 10px;
    margin: 0;
    box-shadow: none;
    font-weight: 400;
    color: #000000;
    transition: all 0.3s;
}

.theme-colors label:hover,
.slider-position label:hover {
    transform: scale(1.05, 1.05);
    z-index: 2;
    box-shadow: 0 7px 26px 2px rgba(62, 62, 66, 0.58);
}

#blue {
    background: #00abb3;
}

#green {
    background: #75cb9c;
}

#orange {
    background: #fd7822;
}

#purple {
    background: #cdb2cf;
}

#red {
    background: #d10c45;
}

#none {
    background-color: #ffffff;
}

.repeat-block {
    margin-bottom: 5px;
    background: #F1F1F1;
}