/*  RESET CSS */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

h1 {

}

/* Content styles */
body {
    min-width: 600px;
    font-family: sans-serif;
}

#content {
    padding: 20px;
}

#content div.inner > h1 {
    width: 75%;
    margin: 20px auto;
    padding: 25px 0;
    font-size: 30px;
    font-weight: normal;
    color: #6e2a8d;
    display: block;
    border-bottom: 1px solid #676767;
}

.management_team {
    width: 75%;
    margin: 20px auto;
    text-align: center;

}

.management_team-block {
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 250px;
    height: 353px;
    margin: 15px;
    background: #6e2a8d;
    background: rgba(110, 42, 141, 0.75);
}

.member_photo {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hernandez {
    background-image: url("images/louis_hernandez_320x320.jpg");
}

.frederick {
    background-image: url("images/John_Frederick-full.jpg");
}

.gahagan {
    background-image: url("images/Chris_Gahagan-full.jpeg");
}

.rosica {
    background-image: url("images/Jeff_Rosica-full.jpg");
}

.lowenstein {
    background-image: url("images/Rick_Lowenstein-full.jpg");
}

.duva {
    background-image: url("images/Jason_Duva-full.jpg");
}

.sidi {
    background-image: url("images/ilan_sidi-full.jpg");
}

.yaung {
    background-image: url("images/Bruce_Yaung-full.jpg");
}

.member_description {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background: #6e2a8d;
    background: rgba(110, 42, 141, 0.75);
}

.member_name {
    font-size: 1.375em;
    font-weight: 500;
    color: #ffffff;
    margin: 5px 0;
    padding: 0 20px;
}

.member_position {
    font-size: 1em;
    font-weight: 500;
    color: #ffffff;
    margin: 5px 0;
    padding: 0 20px;
}

.member_details {
    position: absolute;
    top: 100%;
    height: 0;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    filter: alpha(opacity=0);
    background: #006bb6;
    background: rgba(0, 106, 181, 0.75);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.management_team-block:hover .member_details {
    height: 100%;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.management_team-block:hover .member_description {
    visibility: hidden;
    opacity: 0;
}

.member_bios_container {
    position: relative;
    height: 90%;
    overflow: hidden;
}

.member_bios_container:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    /*background: -webkit-linear-gradient(top, transparent 30%, rgba(0, 106, 181, 0.75) 100%);*/
    /*background: -moz-linear-gradient(top, transparent 30%, rgba(0, 106, 181, 0.75) 100%);*/
    /*background: -ms-linear-gradient(top, transparent 30%, #006bb6 100%);*/
    /*background: -o-linear-gradient(top, transparent 30%, #006bb6 100%);*/
    /*background: linear-gradient(top, transparent 30%, #006bb6 100%);*/
    z-index: 2;
}

.member_bios {
    font-size: 0.75em;
    color: #ffffff;
}

.member_bios_full {
    display: block;
    font-size: 0.875em;
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;
}

.member_bios_full:hover {
    text-decoration: underline;
}

@media (max-width: 1612px) {
    .management_team,
    #content div.inner > h1 {
        width: 91%;
    }

}

@media (max-width: 1024px) {
    .management_team-block {
        width: 45%;
        min-height: 515px;
    }

    .member_name {
        font-size: 1.75em;
    }

    .member_position {
        font-size: 1.5em;
    }

    .member_bios,
    .member_bios_full {
        font-size: 1.25em;
    }
}

@media (max-width: 768px) {
    .management_team-block {
        width: 75%;
    }
}