* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style-type: none;
}

.subscription-plan {
    position: relative;
    width: 295px;
    height: 435px;
    margin: 10px auto;
    border: 4px solid #ee8129;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 7px #8e9191;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}
    .plan-title {
        background: #ee8129;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 26px;
        padding-bottom: 22px;
    }
        .plan-container {
            position: relative;
            margin: 17px 14px 0;
            text-align: center;
        }
            .plan-name {
                font-size: 24px;
            }
            .plan-description {
                color: #35495a;
            }
                .plan-description .currency {
                    vertical-align: 0.7em;
                    font-size: 24px;
                    display: inline;
                }
                .plan-description .plan-price {
                    vertical-align: middle;
                    font-size: 72px;
                    font-weight: bold;
                    display: inline;

                }
                .plan-description .period {
                    vertical-align: -1.6em;
                    font-size: 18px;
                    display: inline;
                }
            .features-list {
                margin: 12px auto 0px;
            }
                .features-list__item:nth-child(odd) {
                    background: #edf5fd;
                }
                .features-list__item:nth-child(even) {
                    background: #f5f5f6;
                }
                .features-list__item:before {
                    content: url("before-list-image.png");
                    display: inline-block;
                    margin-right: 15px;
                }
                .features-list__item {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 41px;
                    margin: 1px 0;
                    font-size: 15px;
                    text-align: left;
                    color: #888c94;
                }
            .plan-enroll-link {
                display: block;
                margin: 18px auto 0;
                font-size: 14px;
                color: #fff;
                padding-top: 10px;
                padding-bottom: 7px;
                background: #ee8129;
                box-shadow: 0 3px #b3560b;
                border-radius: 4px;
                text-decoration: none;
                text-transform: uppercase;
                transition: background 0.5s;
            }
            .plan-enroll-link:hover {
                background: #ff952b;
                box-shadow: 0 3px #d1760b;
            }
