* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.portfolio {
    min-width: 400px;
    max-width: 1600px;
    background: #f6f9f9;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}

.portfolio__header {
    font-size: 41px;
    padding-top: 30px;
    margin: 0;
}

.portfolio__contact-link {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: #909090;
    padding-top: 15px;
    transition: color 0.3s;
}

.portfolio__contact-link:hover {
    color: #069005;
}

.portfolio__wrapper {
    width: 75%;
    margin: 45px auto;
}

.portfolio__item {
    display: inline-block;
    width: 360px;
    height: 260px;
    padding: 15px;
}

.portfolio__image {
    width: 100%;
    height: 100%;
}