* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

.search-block {
    position: relative;
    border: none;
    width: 25%;
    height: 52px;
    margin: 20px auto;
    background: #ffcc66;
}

.search-block.gradient {
    background: -webkit-linear-gradient(#ffcc66 30%, #ffd95a 60%, #ffcc66 100%);
    background: -moz-linear-gradient(#ffcc66 30%, #ffd95a 60%, #ffcc66 100%);
    background: -o-linear-gradient(#ffcc66 30%, #ffd95a 60%, #ffcc66 100%);
}

.search-input {
    width: 75%;
    height: 22px;
    margin: 3px 1% 7px;
    border: none;
    box-shadow: 0 0 4px #a3a3a3 inset;
}

.search-submit {
    width: 17%;
    height: 22px;
    margin: 3px 2% 7px 0;
    font-family: sans-serif;
    font-weight: bold;
}

.search-submit:hover {
    cursor: pointer;
}

.search-block::after {
    content: '';
    position: absolute;
    right: -36px;
    top: 0;
    border: 26px solid transparent;
    border-left: 10px solid transparent;
    border-image: -webkit-linear-gradient(#ffcc66 30%, #ffd95a 60%, #ffcc66 100%);
    border-image: -moz-linear-gradient(#ffcc66 30%, #ffd95a 60%, #ffcc66 100%);
    border-image: linear-gradient(#ffcc66 30%, #ffd95a 60%, #ffcc66 100%);
}

.search-block.gradient::after {
    content: '';
    position: absolute;
    right: -18px;
    top: 7px;
    width: 37px;
    height: 37px;
    background: -webkit-linear-gradient(-45deg, #ffcc66 30%, #ffd95a 60%, #ffcc66 100%);
    background: -moz-linear-gradient(-45deg, #ffcc66 30%, #ffd95a 60%, #ffcc66 100%);
    background: linear-gradient(-45deg, #ffcc66 30%, #ffd95a 60%, #ffcc66 100%);
    transform: rotate(45deg);
    border: none;
    z-index: -1;
}

.search-option {
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: top;
    padding-left: 1%;
}

.search-option input {
    margin: 2px 0 0 2px;
    vertical-align: top;
}

.search-option span {
    vertical-align: inherit;
    border-bottom: 1px dotted #000000;
}
