* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.feedback {
    background: #a2cadb url("Rectangle-35 copy.png");
    min-width: 500px;
    max-width: 1400px;
    min-height: 315px;
    max-height: 630px;
    margin: 50px auto;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}
.feedback__header {
    font-size: 40px;
    color: #3170a8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 55px;
}
.feedback__header span {
     color: #ee8129;
}
.feedback__item {
    display: inline-block;
    width: 43%;
    margin-left: 97px;
    padding: 50px 20px 0;
}
.feedback__item:last-child {
    margin-left: 5px;
}
.feedback__photo {
    display: inline-block;
    width: 101px;
    margin-right: 10px;
    height: 90px;
}
.feedback_block {
    display: inline-block;
    width: 75%;
    height: 90px;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    padding: 11px 18px;
    position: relative;
   /* overflow: auto; -пока не разобрался нужно ли его использовать */
    background: #ffffff;
}
.feedback_block::before, .feedback_block::after {
    content: '';
    position: absolute;
    left: -19px;
    top: 35px;
    height: 0;
    border: 10px solid transparent;
}
.feedback_block::after {
    border-right: 10px solid white;
    bottom: -19px;
}
.feedback__name {
    color: #3070a8;
    font-style: italic;
    position: absolute;
    top: 9px;
    left: 18px;
}
.feedback__status {
    color: #3070a8;
    font-style: italic;
    position: absolute;
    top: 9px;
    right: 18px;
}
.feedback__text {
    position: absolute;
    top: 33px;
    padding-bottom: 11px;
    border-top: 2px dotted #a9a9a9;
    margin-right: 18px;
    padding-top: 5px;
}