.pagination {
    padding: 3px 5px;
    border: 1px solid #000;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.pagination ul li {
    display: inline-block;

}
.pagination a {
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    color: #8A2BE2;
    padding: 7px 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.pagination .active {
    color: #fff;
    background: #8a2be2;
    border: 1px solid  #8a2be2;
}
.pagination a:hover {
    color: #fff;
    background: #8a2be2;
    border: 1px solid  #8a2be2;
    cursor: pointer;
}
.pagination a.back {
    border: none;
}