* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-top: 80px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 4%;
    background: #36873a;
    border-bottom: 5px solid rgba(119, 174, 121, 0.5);
    z-index: 3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header:after {
    display: inline-block;
    content: '';
    height: 100%;
    width: 1px;
    vertical-align: middle;
}

.logo, .navigation {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    text-decoration: none;
}

.logo {
    width: 25%;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
}

.logo-img {
    margin-right: 20px;
}

#toogle {
    display: none;
}

.navigation {
    width: 67%;
    text-align: right;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
}

.navigation > a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    margin: 0 25px;
}

.goto_active_yes:after {
    display: block;
    content: '';
    width: 50%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -25%;
}

.logo-img {
    display: inline-block;
    vertical-align: middle;
}

.main-info {
    position: relative;
    padding: 70px 9%;
    text-align: center;
    background: url("images/cabinfarmer.jpg") center no-repeat;
    background-size: cover;
}

.main-equipment,
.main-description {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.main-header {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    background: #e69e02;
    border-radius: 5px;
    display: inline-block;
    padding: 0 25px;
    line-height: 52px;
    margin-bottom: 14px;
}

.main-product-description {
    font-size: 1.125em;
    color: #ffffff;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    color: #777777;
    margin: 15px;
    padding: 15px 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
    border-radius: 5px;
    background: #c2c2c2;
    border-bottom: 4px solid #b2b2b2;
}

.btn:hover {
    background: #dddddd;
    border-bottom: 4px solid #bdbdbd;
}

.btn-green {
    color: #ffffff;
    background: #419f46;
    border-bottom: 4px solid #36873a;
}

.btn-green:hover {
    background: #4cba52;
    border-bottom: 4px solid #42a147;
}

.video {
    height: 600px;
}

.slider {
    position: relative;
    height: 600px;
}

.slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.slide1,
.slide2,
.slide3 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide1 {
    display: block;
}

.slider-controls {
    text-align: center;
    position: absolute;
    bottom: 20px;
    transform: translatex(-50%);
    left: 50%;
    font-size: 0;
}

.slider-controls li {
    display: inline-block;
    height: 18px;
    width: 18px;
    background-color: rgba(255, 255, 255, .5);
    margin: 0 10px 0 0;
    cursor: pointer;
    border-radius: 50%;
}

.slider-controls li:first-child {
    background: rgba(54, 135, 58, .8);
}

.slider-controls li:last-child {
    margin: 0;
}

.features {
    position: relative;
    padding: 40px 3% 30px;
    background: #f3f3f3;
    text-align: center;
}

.features-field__guidance,
.features-accuracy,
.features-cloud__storage,
.features-min__cost {
    display: inline-block;
    width: 270px;
    min-height: 280px;
    vertical-align: top;
    color: #7f8c8c;
    background: #ffffff;
    border-radius: 6px;
    border-bottom: 4px solid #e5e6e6;
    margin: 20px 15px;
    padding: 30px 20px 40px;
}

.features-header {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
}

.feature-description {
    margin-top: 20px;
    font-size: 0.875em;
}

.features-download__links {
    position: relative;
}

.guide-link,
.datasheet-link {
    display: inline-block;
    width: 45%;
    text-align: center;
    color: #36873a;
    text-decoration: none;
    font-size: 1em;
}

.guide-link:hover,
.datasheet-link:hover {
    text-decoration: underline;
}

.buy {
    padding: 50px 3%;
    background: #f9f9f9;
    text-align: center;
}

.buy-header {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
    color: #419f46;
}

.buy-description {
    font-size: 1.125em;
    color: #7f8c8c;
    margin-top: 15px;
}

.purchase-plan {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 263px;
    min-height: 457px;
    background: #419f46;
    border-bottom: 5px solid #9dcc9f;
    margin: 30px 20px;
    padding: 0 0 20px;
}

.purchase-plan.trial {
    background: #eca403;
    border-bottom: 5px solid #f2ce7e;
}

.trial .purchase-block {
    background: #d99703;
}

.trial .purchase-plan__validity {
    border-bottom: 1px solid #d99703;
}

.trial .purchase-plan__link {
    color: #eca403;
    margin-left: -67px;
}

.purchase-plan__name {
    padding: 15px 20px 10px;
    color: #ffffff;
    font-size: 1.125em;
    font-weight: 500;
}

.purchase-block {
    color: #ffffff;
    padding: 15px 25px 20px;
    background: #3c9341;
}

.purchase-plan__price {
    font-size: 3.625em;
    font-weight: 700;
}

.purchase-plan .currency {
    font-size: 18px;
}

.purchase-plan__description {
    font-size: 1em;
    font-weight: 700;
}

.purchase-plan__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 600;
    color: #419f46;
    padding: 8px 10px;
    background: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -55px;
}

.purchase-plan__link:hover {
    background: #eaeaea;
    text-shadow: 0 0 #3A743D;
}

.purchase-plan__validity,
.purchase-plan__details {
    color: #ffffff;
    font-size: 1.125em;
    padding: 7px 20px;
    border-bottom: 1px solid #3c9341;
}

footer {
    position: relative;
    background: #36873a;
    padding: 20px 7% 50px;
}

.company-info {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding-right: 5%;
    color: #ffffff;
    font-size: 0.875em;
}

.company-contacts {
    display: inline-block;
    vertical-align: top;
    width: 53%;
    text-align: right;
    color: #ffffff;
}

.company-name,
.company-contacts__header {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 20px;
}

.company-contacts__email {
    color: #ffffff;
    font-size: 1.125em;
    text-decoration: none;
}

@media (max-width: 1366px) and (min-width: 1024px) {
    .features {
        padding: 40px 18% 30px;
    }

    .buy {
        padding: 50px 18%;
    }
}

@media (max-width: 1023px) and (min-width: 720px) {
    header {
        padding: 0;
    }

    .logo {
        width: 36%;
        padding-left: 5%;
    }

    #toggle {
        display: block;
        vertical-align: middle;
        text-align: right;
        width: 45px;
        height: 44px;
        padding-top: 19px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        position: absolute;
        top: 20px;
        right: 40px;
    }

    #toggle span:after,
    #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after {
        top: 9px;
    }

    #toggle span {
        position: relative;
        display: block;
    }

    #toggle span,
    #toggle span:after,
    #toggle span:before {
        width: 100%;
        height: 5px;
        background: #ffffff;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    /* menu appearance*/
    #menu {
        display: none;
        width: 95%;
        padding-bottom: 0;
        margin: 33px auto 20px;
        opacity: 0;
        transition: opacity .4s;
    }

    /* on activation */
    #toggle.on span {
        background-color: transparent;
    }

    #toggle.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    #toggle.on + #menu {
        opacity: 1;
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        background: #36873a;
        border-bottom: 5px solid rgba(119, 174, 121, 0.5);
        z-index: 3;
    }

    .main-equipment, .main-description {
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    .video {
        height: 450px;
    }

    .slider {
        height: 320px;
    }

    .slide1, .slide2, .slide3 {
        background-position: 0;
    }

    .features {
        padding: 40px 5% 30px;
    }

    .buy {
        padding: 50px 5%;
    }
}

@media (max-width: 719px) {
    header {
        padding: 0;
    }

    .logo {
        width: 75%;
        font-size: 1em;
        padding-left: 5%;
    }

    #toggle {
        display: block;
        vertical-align: middle;
        text-align: right;
        width: 45px;
        height: 44px;
        padding-top: 19px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        position: absolute;
        top: 20px;
        right: 40px;
    }

    #toggle span:after,
    #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after {
        top: 9px;
    }

    #toggle span {
        position: relative;
        display: block;
    }

    #toggle span,
    #toggle span:after,
    #toggle span:before {
        width: 100%;
        height: 5px;
        background: #ffffff;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    /* menu appearance*/
    #menu {
        display: none;
        width: 95%;
        padding-bottom: 0;
        margin: 33px auto 20px;
        opacity: 0;
        transition: opacity .4s;
    }

    /* on activation */
    #toggle.on span {
        background-color: transparent;
    }

    #toggle.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    #toggle.on + #menu {
        opacity: 1;
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        background: #36873a;
        border-bottom: 5px solid rgba(119, 174, 121, 0.5);
        z-index: 3;
    }

    .main-equipment, .main-description {
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    .main-header {
        font-size: 1.5em;
    }

    .main-product-description {
        width: 95%;
        margin: 0 auto 20px;
        font-size: 0.875em;
    }

    .btn {
        display: block;
        width: 95%;
        margin: 0 auto 20px;
    }

    .video {
        height: 350px;
    }

    .slider {
        height: 320px;
    }

    .slide1, .slide2, .slide3 {
        background-position: 0;
    }

    .features {
        padding: 40px 5% 30px;
    }

    .guide-link, .datasheet-link {
        display: block;
        margin: 10px auto;
        width: 95%;
    }

    .buy {
        padding: 50px 5%;
    }

    .company-info,
    .company-contacts {
        display: block;
        width: 95%;
        margin: 20px auto;
        text-align: left;
    }


}