html,
	/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Now the site CSS file starting*/


/*
====
притримуйся стилю оформлення цсс коду
селектор { //селектор відділяється від фігурної скобки пробілом
	властивість: значення; //властивість постійно на одній відстані (я використовую tab), обов'язково з ";" в кінці
} //закриваюча скобка повинна бути першим символом в рядку

====

хороша практика використовувати. спробуй поставити її на всі елементи тобто
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
і подивись що змінеться (щоб зрозуміти читай про паддінги)
*/


/*
	хедер повинен мати висоту тому що елементи, що мають флоат
	властивість не враховуються при розрахунку висоти
	батьківського елемента
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body { 
	min-width: 300px;
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}

header {
	height: 3.5em;
	background-color: rgb(65, 65, 65);
	border-bottom: 1px solid #3c3c3c; 
}	
.logo {
	float: left;
	position: relative;
	padding: 1.5% 2%;
	margin-left: 15px;
}
nav {
	position: relative;
	padding-top: 2%;
	padding-left: 25%;
}
nav ul li {
	float: left;
	font-family: Helvetica;
	font-size: 55%;
	
	position: relative;
	text-align: center;
}
nav li:after{
	content: '';
  	display: block;
  	position: absolute;
 	right: -0.7%;
  	top: 1px;
  	width: 2px;
  	height: 29px;
	background: url(images/header_li_right.png);
}

nav li a {
	display: inline-block;
	margin-right: 0.7em;
	margin-left: 0.7em;
	padding: 0.9em 1.5em;
	color: rgb(255,255,255);
	text-decoration: none;
}
a.active, nav li a:hover {
	background: rgb(60, 60, 60);
	border-radius: 4px;
	cursor: pointer;
}
header input {
	float: right;
	margin-right: 5%;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(45, 45, 45);
	border-radius: 12px;
	padding: 5px 2px 5px 30px;
	background: rgb(20, 20, 20);
}
/*start working with FEATURED SLIDER*/
.featured-slider-block:before,
.featured-slider-block:after {
	content: "";
	display: table;
}
.featured-slider-block:after {
	clear: both;
}
.featured-slider-block {
	position: relative;
	background-color: rgb(65, 65, 65);
	font-family: Helvetica;
	color: white;
}
.featured-slider {
	float: left;
	max-width: 400px;
	height: auto;
	padding: 10px 20px;
}
.featured-slider img {
	min-width: 100px;
	max-width: 350px;
	height: auto;
}
.featured-slider h2 { 
	font-size: 19px;
	padding-top: 20px;
	padding-left: 40px;
}
.featured-slider p {
	font-size: 11px;
 	line-height: 1.2em;
  	padding-top: 30px;
	padding-left: 40px;
}
.featured-slider-buttons {
	clear: both;
	
	
}
.featured-slider-buttons img {
	width: 140px;
	height: 26px;
	margin-left: 40%;
}

button {
	display: inline-block;
	margin-top:  40px;
	margin-left: 40px;
 	color: white;
 	text-decoration: none;
 	padding: 10px 13px;
	border-radius: 3px;
 	background: rgb(138,173,47);
	transition: 0.2s;
	border: 0;
}
button a {
	font-weight: 700;
	color: white;
 	text-decoration: none;
 	padding: 8px 12px;
}
button:hover {
	cursor: pointer;
	background: rgb(138, 190, 100);
}
button:active {
	cursor: pointer;
	background: rgb(138, 138, 100);
}
/* Start styling "WHAT I CAN ALL DO" */
.what-i-can-all-do-wrapper h3 {
	font-family: Helvetica;
	color: #464646;
	font-size: 18px;
	font-weight: bold;
	border-left: 5px solid rgb(138,173,47);
	margin-left: 3%;
	margin-top: 1.5%;
	margin-bottom: 3%;
	padding-left: 3%;
	background-image: url(images/border.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
.what-i-can-all-do-wrapper:before,
.what-i-can-all-do-wrapper:after {
	content: "";
	display: table;
}
.what-i-can-all-do-wrapper:after {
	clear: both;
}

.what-i-can-all-do-wrapper {
	position: relative;
}
.what-i-can-all-do {
	float: left;
	width: 33%;
	padding: 3% 3%;
}
.what-i-can-all-do h4 {
	font-family: Helvetica;
	color: #464646;
	font-size: 0.8em;
	font-weight: bold;
	padding: 15px;

}
.what-i-can-all-do img {
	float: left;
	padding-right: 20px;
}
.what-i-can-all-do p {
	font-family: Helvetica;
	color: #464646;
	font-size: 0.6em;
	padding-top: 2em;
	clear: both;
	line-height: 1.5;
}
/* start styling the content block */
.content {
	position: relative;
	background-color: rgb(255, 255, 255);
}
.content:before,
.content:after {
	content: "";
	display: table;
}
.content:after {
	clear: both;
}

.recent-work {
	font-family: Helvetica;
	color: rgb(0, 0, 0);
	float: left;
	width: 50%;
	padding: 2% 0% 1% 2%;
	
}
.from-the-blog {
	font-family: Helvetica;
	color: rgb(0, 0, 0);
	float: left;
	width: 50%;
	padding: 2% 2% 1% 0%;
}
.content h3 {
	font-family: Helvetica;
	color: rgb(0,0,0);
	font-size: 1em;
	font-weight: bold;
	border-left: 5px solid rgb(138,173,47);
	padding-left: 7%;
	margin-bottom: 4%;
	margin-right: 7%;
	background-image: url(images/border1.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
.recent-work-item {
	float: left;
	width: 49%;
	padding: 2% 3%;
}
.from-the-blog-item {
	float: left;
	width: 49%;
	padding: 2% 0% 0% 3%;
}
.recent-work p {
	font-family: Helvetica;
	font-size: 65%;
	font-weight: bold;
	padding-top: 10px;
	line-height: 1.2;
}
.from-the-blog p {
	padding-top: 10px;
	line-height: 1;
	font-size: 12px;
}
.from-the-blog h5 {
	font-family: Helvetica;
	font-size: 65%;
	font-weight: bold;
	padding-top: 10px;
	line-height: 1.2;
}
.pubdate {
	font: 10px;
	color: rgb(138,173,47);
}
.content img {
}
.pubdate img {
	padding: 0px 5px;
	border: 0px;
}
					/* Start styling FOOTER */
.footer {
	position: relative;
	background-color: rgb(65, 65, 65);
}
.footer:before,
.footer:after {
	content: "";
	display: table;
}
.footer:after {
	clear: both;
}
.footer.about {
	float: left;
	width: 25%;
	padding: 1% 1% 1% 3%;
}
section {
	border-top: 1px solid rgb(117, 117, 117);
}
.footer.recent {
	float: left;
	width: 25%;
	padding: 1% 1% 1% 3%;
}
.footer.twitter-widget {
	float: left;
	width: 25%;
	padding: 1% 1% 1% 3%;
}
.footer.flickr-widget {
	float: left;
	width: 25%;
	padding: 1% 1% 1% 3%;
}
.footer a {
	text-decoration: none;
}
.footer h3 {
	font-family: Helvetica;
	color: rgb(245,245,245);
	font-size: 85%;
	font-weight: bold;
	border-left: 5px solid rgb(138,173,47);
	padding-left: 7%;
	margin-bottom: 1em;
	background-image: url(images/border2.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
.footer p {
	padding-top: 1em;
	padding-left: 3%;
	line-height: 1;
	font-family: Helvetica;
	font-size: 60%;
	color: rgb(230,230,230);

}
.footer.flickr-widget img {
	float: left;
	width: 23%;
	padding: 10px;
}
.twitter-widget.nickname {
	color:  rgb(138,173,47);
	text-decoration: none;
}
.twitter-widget.pubdate {
	color:  rgb(155, 155, 155);
}
.footer1 {
	position: relative;
	background-color: rgb(60, 60, 60);
}
.footer1:before,
.footer1:after {
	content: "";
	display: table;
}
.footer1:after {
	clear: both;
}
.footer1.logo {
	float: left;
	width: 15%;
	padding: 1% 1% 1% 3%;
}
.footer1.contacts {
	float: left;
	width: 50%;
	padding: 2% 1% 1% 3%;
}
.footer1.copyright {
	float: left;
	width: 30%;
	padding: 2% 1% 1% 3%;
}
.footer1 p {
	font-family: Helvetica;
	font-size: 0.6em;
	color: rgb(105,105,105);
}
.footer1 .company-name {
	font-family: Helvetica;
	color: rgb(155,155,155);
	text-decoration: none;
}
.recent-work-item img {
	background: transparent;
}
.recent-work-item a {
	position: relative;
	display: inline-block;
	
}
.recent-work-item a:before {
  	content: ' ';
  	opacity: 0;
 	 position: absolute;
 	width: 205px;
  	height: 128px;
 	 background: url("images/overlay.png");
 }
.recent-work-item a:hover:before {
	cursor: pointer;
	opacity: 0.8;
}

.from-the-blog-item a:before {
  	content: ' ';
  	opacity: 0;
 	 position: absolute;
 	width: 205px;
  	height: 128px;
 	 background: url("images/overlay.png");
 }
.from-the-blog-item a:hover:before {
	cursor: pointer;
	opacity: 0.8;
}
.footer img:hover {
	cursor: pointer;
}
