.mainframe {
    display: block;
    position: relative;
    width: 792px;
    height: 602px;
    background-color: #000000;
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    font-family: 'Arvo', serif;
    overflow: hidden;
}

.timer {
    display: block;
    position: absolute;
    color: #FFFFFF;
    left: 400px;
    font-size: 20px;
}

.game__over,
.win__bg{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 20,20, 0.5);
}

.win__bg {
    background-color: rgba(75, 200, 110, 0.5);
}

.game__over div{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 4em;
    color: #ffffff;
    line-height: 602px;
}

.bubble__win,
.bubble__ready,
.bubble__fire {
    display: none;
    width: 140px;
    height: 50px;
    color: #000000;
    font-family: 'Arvo', serif;
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: 320px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 5px;
    visibility: hidden;
}

.bubble__fire {
    background: #cf2125;
    color: #FFFFFF;
}

.bubble__win {
    width: 180px;
    right: 300px;
    background: #61deec;
    color: #2f2f2f;
}

.active {
    display: block !important;
    visibility: visible;
}

.score {
    display: block;
    position: absolute;
    color: #FFFFFF;
    left: 40px;
    bottom: 0;
    font-size: 30px;
}
.score span {
    color: #00FF00;
    font-weight: 700;
}

.gunman {
    display:none;
    width: 97px;
    height: 204px;
    position: absolute;
    top: 200px;
    right: -100px;
    background: url("gunman.png");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: 1458%;
}

p {
    margin: 10px 0 0 !important;
}